@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #333;
  --accent: #9795FF;
  --accentSec: #BE9FFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-satoshi);
}

@layer base {
  body {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-accent via-foreground font-medium to-accentSec bg-clip-text text-transparent
  }
}
